´´´
# Core
python-dotenv
numpy
pandas
scikit-learn
joblib

# Visualización y mapas
folium
streamlit
streamlit-folium

# Manejo de fechas
python-dateutil

# Peticiones HTTP (APIs externas)
requests

# Utilidades
tqdm

# Opcional (notebooks para exploración)
jupyter
google colab

´´´
